@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color:#292F36;
  z-index: 99;
  min-height: 60px;
}

nav .checkbox {
  display: none;
}

.nav__content {
  max-width: var(--max-width);
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;

}

nav .logo a {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
  transition: 0.3s;
}
nav .logo a:hover {
  color: var(--primary-color-dark);
}

nav input {
  display: none;
}

nav .checkbox i {
  font-size: 2rem;
  color: var(--primary-color);
  cursor: pointer;
}

ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  transition: left 0.3s;
}

ul li a {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  color: var(--text-dark);
  transition: 0.3s;
}

ul li a:hover {
  border-top-color: var(--secondary-color);
  border-bottom-color: var(--secondary-color);
  color: var(--secondary-color);
}

.section {
  background-color: var(--extra-light);
  scroll-margin-top: 80px;
}

.section__container {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  background-color: #292F36;
  align-items: center; 
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  gap: 15px; 
}


/* Section Container */

.section__about {
  color: #ffffff;
  background-color: #d7d7d7;
  padding:50px;
}

.section__about h1,
.section__skills h1,
.section_experiences h1,
.section_portfolio h1 {
  text-align: center;
  font-size: 40px;
  color: rgb(43, 39, 39);
  margin-bottom: 20px;
}

.section__about h2 {
  text-align: left;
  padding:10px;
  color:#58545b;
}

.section__about p{
  font-size: 20px;
  padding: 20px;
  color: #6b7280;
  margin-left:10px;
}

.section__hobbies h2 {
  padding: 0px;
  margin-bottom: 30px;
}

.section__hobbies p {
  font-size: 20px;
  color: #6b7280;
  padding: 0;
  margin-left: 30px;
}

.mini_hobbies {
    display: flex;            
    flex-direction: row;      
    justify-content: flex-start; 
    gap: 20px;
    margin-left: 30px;         
}

.mini_hobbies p {
    display: flex;
    align-items: center;       
    gap: 8px;                 
    margin: 0;         
}

/* Skills Section */

.section__skills{
  padding: 50px;
}

.section__skills p {
  font-size: 20px;
  padding: 25px;
  color: #6b7280;
  margin-left: 40px;
}

.skills__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}


.front__skills,
.back__skills,
.data__skills {
  width: 500px;
  border: 2px solid #6b7280;
  border-radius: 20px;
  padding: 10px 15px;
  margin: 10px;
}


.front__skills h3,
.back__skills h3,
.data__skills h3 {
  text-align: center;
  color: #58545b;
  margin-bottom: 10px;
}

.f__skills,
.b__skills,
.v__skills{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin: 0 auto;
}

.f__skills p,
.b__skills p,
.v__skills p {
  margin: 0;
  padding: 5px 12px;
  background-color: #f0f0f0;
  border-radius: 10px;
}

/* Experiences */

.section_experiences {
    margin-top: 20px;
    background-color: #ecedef;
    padding: 50px;
}

.row.experience {
  display: flex;
  gap: 30px;
  margin-bottom: 50px;
  align-items: flex-start; 
  justify-content: center;
  flex-wrap: wrap;
}

.research_left,
.data_left,
.product_left {
  display: flex;          
  flex-direction: column; 
  align-items: center;     
  text-align: center;      
  max-width: 250px;
}

.research_left img,
.data_left img,
.product_left img {
  max-width: 120px;
  border-radius: 8px;
  object-fit: cover;
  margin-bottom: 10px;
}

.research_left h2,
.data_left h2,
.product_left h2,
.research_left h4,
.data_left h4,
.product_left h4 {
  margin: 5px 0;
  color: #4b505b;
}

.research_left h2,
.data_left h2,
.product_left h2 {
  font-size: 20px;
}

.research_left h4,
.data_left h4,
.product_left h4 {
  font-size: 15px;
}

.research_right,
.data_right,
.product_right {
  flex: 1; 
  line-height: 1.6;
  max-width:900px;
}

.research_right p,
.data_right p,
.product_right p {
    font-size: 20px;
    color: #58545b;

}

/* Portfolio */

#portfolio {
  padding:50px;
  background-color: #393939;
}

.section_portfolio h1 {
  text-align: center;
  font-size: 40px;
  color: white;
  margin-bottom: 20px; 
}

.container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
  gap: 30px;              
  padding: 50px;         
  justify-items: center;
}

.card{
  display: flex;
  flex-direction: column;         
  max-width: 400px;      
  height: 450px;         
  border: 2px solid #696969;
  border-radius: 10px;
  overflow: hidden;       
}

.half-card{
  width: 100%;
  height: 200px;
  background-color: #696969;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 20px;
  overflow: hidden;
}

.card-content {
  padding: 20px;
  margin-top: 0;  
}

.card-content h3{
  text-align: left;
  color: white;
  font-size: 20px;
  font-weight:bold;
  padding:10px;
}

.card-content p{
  text-align: left;
  color: white;
  font-size: 15px;
  padding:10px;
}

.mini-cards p {
  font-size: 10px;
  padding: 6px 10px;
  margin: 0;               
  border: 1px solid #696969;
  border-radius: 999px;     
  color: white;
  background-color:#696969;
  justify-content: flex-start;
  display: inline-flex;     
  white-space: nowrap;
}

.mini-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: flex-start;
  padding-bottom: 10px;
}

.button {
  font-family: "Poppins", sans-serif;  
  background-color: #272c31;           
  color: white;                        
  padding: 10px 10px;                 
  border: none;                        
  border-radius: 10px;                 
  cursor: pointer;                      
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #6b7280;            
}
.images__row{
  display:flex;
  justify-content: center;
  flex-direction: row;   
  gap: 75px;
  margin-top: 50px;              
}

.images__col{
  display: flex;
  flex-direction: column; 
  align-items: center;   
  text-align: center;    
}

.images__col img {
  max-width: 350px;         
  height: 250px;
  display: block;             
  border-radius: 10px;
  border-style: solid;
  border-color:  #696969    
}

.images__txt {
  margin-top: 10px; 
  font-size: 1.1rem;
  color: #333;
}


.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  margin-left: 200px;
}

.subtitle {
  letter-spacing: 2px;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: white;
}

.title {
  font-size: 50px;
  font-weight: 400;
  line-height: 3rem;
  color: white;
  margin-bottom: 1rem;
}

.title span {
  font-weight: 600;
}

.description {
  line-height: 1.5rem;
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
}

.social-icons {
  display: flex;
  gap: 20px;
}

.social-icons a {
  font-size: 40px;
  color: white; 
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: rgb(111, 111, 111); 
}

.portfolio {
  color: var(--primary-color);
}

.portfolio:hover {
  background-color: var(--primary-color-dark);
  color: #ffffff;
}

.image {
  display: grid;
  justify-items: center;
  align-items: start;
  overflow: visible; 
  height: auto; 
}

.image img {
  width: 450px;
  border-radius: 100%;
}

@media (min-width:200px) {

  nav ul {
    display: none;
    flex-direction: column;
    background-color:transparent;
    position: absolute;
    width: 100%;
    left: 0;
    gap: 3rem;
    margin: 0;
    list-style: none;
  }

  .checkbox {
    display: block;
    cursor: pointer;
    font-size: 2rem;
    color: white;
  }

  #check:checked ~ ul {
  display: flex;
  }

  .image {
    padding-top: 100px;
    margin-top: 0;
  }

  .image img{
    width: 250px;
    margin-top: 50px; 
  }

  .images__row,
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    text-align: center;
    gap: 15px;
  }

  .project img,
  .button__1,
  .button__2 {
    width: 90%;
  }

  .__portfolio {
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: auto;
    gap: 15px;
    padding: 10px;
    margin-right: auto;          
    margin-left: auto;
  }

  .project {
    width: 100%;
    max-width: 100%;
    align-items: center;
  }

  .project:nth-child(1),
  .project:nth-child(2),
  .project:nth-child(3),
  .project:nth-child(4),
  .project:nth-child(5) {
    grid-column: auto !important;
    grid-row: auto !important;
    min-width: auto !important;
    max-height: none !important;
    margin: 10px 0 !important;
  }

}

  @media (min-width: 375px) and (max-width: 750px) {

  nav ul {
    display: none;
    flex-direction: column;
    background-color: #292F36;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 20px;
  }

  #check:checked ~ ul {
    display: flex;
  }

  label.checkbox {
    display: block;
    cursor: pointer;
  }

  nav input[type="checkbox"] {
    display:none;
  }

  .image {
    padding-top:150px;
  }

  .section__container {
    grid-template-columns: 1fr; 
    gap: 2rem;
    text-align: center;
  }

  .content {
    align-items: center; 
  }

  .image img {
    width: 70%; 
    max-width: 300px;
    height: auto;
  }

  .section__hobbies {
    display: flex;
    flex-direction: column;
  }

  .mini_hobbies {
    display: flex;
    flex-direction: column;
  }

  .images__row,
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    text-align: center;
    gap: 15px;
  }

  .__portfolio {
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: auto;
    gap: 15px;
    padding: 10px;
    margin-right: auto;          
    margin-left: auto;
  }

  .project {
    width: 100%;
    max-width: 100%;
    align-items: center;
  }

  .project:nth-child(1),
  .project:nth-child(2),
  .project:nth-child(3),
  .project:nth-child(4),
  .project:nth-child(5) {
    grid-column: auto !important;
    grid-row: auto !important;
    min-width: auto !important;
    max-height: none !important;
    margin: 10px 0 !important;
  }

  .button__1,
  .button__2 {
    width: 80%;
  }

  .image {
    grid-area: 1/1/2/2;
  }

  .action__btns {
    margin: auto;
  }

  .images__row {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .content {
    margin: auto;
  }
}

  @media (min-width: 756px) {
    nav ul {
      display: flex;
      flex-direction: row;
      position: static;
      width: auto;
      height: auto;
      padding: 0;
      background: none;
      gap: 1rem;
    }

    .checkbox {
      display: none;
    }

  .image-row img {
    flex: 1 0 30%;
    max-width: 30%;
  }
  .image img {
    min-width: 400px;
    margin-top: -30px;
    
  }
  .content {
    align-items: flex-start;
    justify-content: flex-start; 
    padding: 50px;
    margin-left: 20%;
  }

  .content p,
  .title{
    text-align: left;
  }

    .__portfolio {
      grid-template-columns: 2fr 1fr 1fr;
    }

    .section__hobbies{
      flex-direction: row;
      align-items: flex-start;
      margin: 0;
      text-align: left;
      gap: 30px;
    }
  }

 @media screen and (min-width:900px) {

  .images__row{
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;   
    gap: 75px;
    margin-top: 50px;              
  }

  .image-row img {
    flex: 1 1 30%;
    max-width: 30%;
  }
 }
